.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 250px;
  background-color: var(--dark-color);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.sidebar div:last-child {
  margin-top: auto;
}

.sidebar.hidden {
  width: 55px !important;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

